@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/*fonte Nunito usado no titulo */

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');



/*reset basico de configurações */

/*cores utilizadas 

021125 · fundos das sessões
14263f  . cor das caixar menores
023e8a . cor das bordas e sombreados,fundos 3d das caixas menores
#ffffff · texto e titulos */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

/*configurações de header e footer(começo e final de página */

/*as cores colocadas no body foi somente para teste da divisão das sessões de como ficaria */
body{
    
    background-color: #021125;
    color: #ffffff;
}
header{
    background-color: #14263f ;
    color:#ffffff;
    width: 100%;
    height: 120px;
    border: #ffffff;
}

/*posção da logo no header */
img{
    display: flex;
    justify-content: left;
    width: 130px;
    padding-left: 20px;
    padding-top: 10px;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
/*caixa para configurar as abas */
.abas{
    display: flex;
    justify-content: center;
}


/*configurações dos links das abas*/

.cor{
    color: #ffffff;
    text-align: right;
    margin-right: 20px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 60px;
    
}
.cor:hover{
    color: #000000;
}
    

/*cor para ficar com o contraste certo nas caixas*/

article{
    color: #ffffff;
    text-align: right;
    margin-right: 20px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 60px;
}

article:hover{
    transform: translatey(-20px);
    transition: 1.2s;
    font-weight: 200px;
    color: #000000; 
}

/*footer config*/

footer{
    background-color: #14263f ;
    color:#ffffff;
    width: 100%;
    height: 120px;
}

/*caixa que vai as informações dentro */
.final{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
hr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 380px;
}

/*configuração de centralição do footer */

.text{
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

/* confing da primeira sessão */

.inicio{
    display: flex;
    flex-direction: column;
    justify-content: left;

    padding-left: 105px;
    padding-top: 60px;
}

/*config do titulo da primeira pagina*/
h1{
    display: flex;
    flex-direction: column;
    text-align: left;

    font-size: 60px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 60px;
    font-style: normal;
}


/*fonte e forma de se porta*/
p{
    display: flex;
    flex-direction: column;
    text-align: left;

  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 60px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/*criar as caixas e colocar lado a lado*/
.primeirascaixas{
    display: flex;
    justify-content: center;
    text-align: left;
    border: 1000px #ade8f4;
}

/*config de posição e conteúdo dentro da 1 caixa */
.caixainf{
    display: flex;
    flex-direction: column;
    background-color: #14263f;
    border-radius: 19px;
    border: 3px solid #0077b6;


    width: 500px;
    height: 200px;
    padding: 30px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    color: #ffffff;

}

/*efeitos caixas 1*/
.caixainf:hover{
    transform : translatey(-20px);
    transition: 1.2s;
    font-weight: 200px;

    background-color: #023e8a ;
    border-radius: 19px;
    color: #ffffff;
    border: 3px solid #ffffff;
}

/*config de posição e conteúdo dentro da 2 caixa */
.caixainff{
    background-color: #023e8a ;
    border-radius: 19px;
    color: #ffffff;
    border: 3px solid #ffffff;



    width: 500px ;
    height: 200px;
    padding: 30px;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
}

/*efeitos caixas 2*/
.caixainff:hover{
    transform: translatey(-20px);
    transition: 1.2s;
    font-weight: 200px;

    background-color: #14263f;
    border-radius: 19px;
    border: 3px solid #0077b6;
    
}


/*config dos textos de ajuda e compra das primeiras caixas */

#caixaesquerda{
    text-align: left;
    font-size:15px;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 60px;
    font-style: normal;
}

h2{
    text-align: left;
    font-size: 25px;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 60px;
    font-style: normal;
}

/*tconfigurações de trilhas 1 pagina */

/*caixa pai das 3 caixas menores*/
.meio{

    display: flex;
    flex-direction: row;   
    align-items: center; 
    gap: 38px;
    justify-content: center;

}

/*config do titulo 2 bloco */
#TRILHA{
    display: flex;
    flex-direction: row;
    padding-left: 105px;
    padding-top: 25px;
    color:#ffffff;

    gap:20px;

    font-size: 35px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 60px;
    font-style: normal;
}



/*#espaçodireita{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 150px;
}*/

/*config 3 caixas menores */
.jornada{
    background-color: #14263f;
    color: #ffffff;
    border-radius: 19px;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 60px;
    font-style: normal;


    align-items: center;
    text-align: left;

    font-size: 20px;
    padding-top: 18px;
    padding-left: 18px;
    margin-top: 20px;
    margin-bottom: 35px;
    width: 324px;
    height: 180px;
    border: 1px solid #023e8a;
    box-shadow:10px 10px 0px #023e8a;
}

/*transição efeito para mudar cor da caixa quando o mousse passar ou ficar em cima da caixa*/
.jornada:hover{
    transition: 1.2s;
    transform:  translateY(28px) ;
    background-color: #023e8a;
    box-shadow:10px 10px 0px #14263f;
}

/*organização dos texto das caixas do segundo topico */
#caixaservicos{
    padding-top: 15px;
    font-size: 18px;
    margin-top: 10px ;
}

/*config do botão do projeto cor,tamanho e etc*/

.projeto{
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #021125;
    margin-left: 110px;
    margin-bottom: 70px;
    padding: 18px;

    color: #ffffff;

    border-radius: 10px;
    border: 1px solid #ade8f4;
    text-align: center;
}
.projeto:hover{
    color:#0077b6;
}

/*removi a bordar, e a borda padrão do elemeno botão*/
button{
    outline: none;
    border: none;
    background-color: #021125;
    
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 60px;
}